@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --color-text-pri: #1d2c3c;
  --color-text-sec: #ffffff;
  --color-text-tetiary: #646e7a;
  --font-normal: 400;
  --font-bold: 700;
  --font-size-small: 0.875rem;
  --shadow-x-axis: rgba(0, 0, 0, 0.15) 0 0.4rem 0 -0.25rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: var(--font-normal);
  -webkit-font-smoothing: antialiased;
}

/* ============== Navigation bar: Logo and Nav links ============== */
.nav__bar {
  box-shadow: var(--shadow-x-axis);
  justify-content: center;
  gap: 47rem;
  padding: 1rem;
}

.nav__links {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  align-items: center;
  font-size: var(--font-size-small);

  & a {
    color: var(--color-text-pri);
    font-weight: 700;
    cursor: pointer;
  }

  & li:last-of-type {
    border: 2px solid var(--color-text-tetiary);
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
  }
}

.nav__bar {
  display: none;
}

/* ======== Checkout details: Basic info & pricing plan ======== */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -10%;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 22rem;
  box-shadow: 0 0.93rem 2.9rem 0 #2b404e18;
  max-width: 892px;
}

.checkout__form {
  padding: 2rem;
}

.checkout__title {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
  font-weight: var(--font-normal);
}

.checkout__title,
.numbered__heading,
label {
  color: var(--color-text-pri);
}

.basic__info {
  margin: 2rem 0;
}

.numbered__heading {
  position: relative;
  padding-left: 2.5rem;
  font-size: 1rem;
  font-weight: var(--font-bold);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.numbered__heading::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  top: 37%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #548bc5;
  color: #548bc5;
  display: grid;
  place-items: center;
  font-size: var(--font-size-small);
}

/* All label & input boxes */
label {
  display: block;
  font-size: var(--font-size-small);
  margin-bottom: 0.2rem;
}

input {
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background-color: #edeff2;

  &::placeholder {
    font-family: var(--font-normal);
    font-size: 0.75rem;
  }
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.full__width {
  grid-column: 1 / -1;
  max-width: 320px;
}

/* Buy Button */
.buy__wppusher {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  border-radius: 4px;
  background-color: #038e7d;
  font-weight: var(--font-bold);
  font-size: 1rem;
  color: #fff;
  margin-top: 4rem;
}

/*================== Help Support Styles ================= */
.support__container {
  font-size: var(--font-size-small);
  margin: 1rem 0 0 1.75rem;
  max-width: 17rem;
  position: relative;
}

.support__link {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: -14.3rem;
    background: url("./assets/Mask.svg") no-repeat;
    width: 5.25rem;
    height: 5.25rem;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 200%;
    height: 2px;
    background-color: currentColor;
  }
}

.grey__text,
.grey__text > a {
  color: var(--color-text-tetiary);
}

.powered__by {
  font-size: 0.7rem;
  width: 7.5rem;
  border-radius: 0.3rem;
  text-align: center;
  background-color: var(--color-text-tetiary);
  color: var(--color-text-se);
  left: 50%;
  margin: 0 auto;
  color: var(--color-text-sec);

  & .strip {
    font-weight: 900;
    font-size: 1rem;
    vertical-align: middle;
  }
}

/* Plan and Pricing (Smaller container: light blue Bg) */

.checkout__plan {
  background-color: #1179BF;
  padding: 2rem;
  color: var(--color-text-sec);
  font-weight: var(--font-normal);
}

.plan__content h3 {
  font-size: 1rem;
  font-weight: var(--font-bold);
}

/* ============ Checkout Price plan/details =========== */

.price .price__amount {
  font-size: 2.8rem;
  font-weight: 300;
}

.price {
  display: flex;
  margin-top: -0.2rem;
}

.renewal__text {
  max-width: 10rem;
  font-style: italic;
  font-size: 1rem;
}

.price__currency {
  margin-top: 15px;
  padding-right: 3px;
  font-weight: var(--font-bold);
  font-size:var(--font-size-small);
}

/* list of plan benefits (3 round-ticked bullets) */
.benefit__list ul {
  list-style: none;
  font-size: 1rem;
  font-weight: var(--font-normal);
  line-height: 2rem;
  margin: 1.5rem auto;

  & li::before {
    content: "";
    padding-right: 30px;
    padding-bottom: 20px;
    background: url('./assets/bullet-circle.svg') no-repeat;
  }
}

.switch__plan {
  max-width: 12rem;
  line-height: 1.7rem;

  & a {
    font-weight: var(--font-bold);
    color: var(--color-text-sec);
    text-decoration: underline;
  }
}

.text__italic p {
  font-style: italic;
  font-size: 1.12rem;
  padding-right: 2rem;
}

.seperating__line {
  margin: 2rem auto;
  opacity: 20.05%;
  line-height: 2px;
}

span.italics__agency {
  font-style: italic;
}

figure {
  display: flex;
  gap: 1rem;
  margin: 2rem auto;
}


/* ============ RWD: Media Queries ============ */

@media (min-width: 768px) {
  .checkout {
    grid-template-columns: 65% 35%;
  }

  .form__grid {
    grid-template-columns: 1fr 1fr;
  }

  .nav__bar {
    display: flex;
  }

  .support__container {
    margin: 1rem 0 0 7rem;
  }
}
